global
    # raise it if necessary
    maxconn 256
    # required for stats page
    stats socket /tmp/haproxy

defaults
    log global
    mode http

    # remove requests from a queue when clients disconnect;
    # see https://cbonte.github.io/haproxy-dconv/configuration-1.5.html#4.2-option%20abortonclose
    option abortonclose

    # increase these values if you want to
    # allow long request queues in HAProxy
    timeout connect 10m
    timeout client 10m
    timeout server 10m

# Splash Cluster configuration
frontend http-in
    bind 0.0.0.0:8050
    default_backend splash-cluster

backend splash-cluster
    option httpchk GET /
    balance leastconn

    # Add/remove servers below:
    server splash1 splash_redis_splash_1:8050 check maxconn 5 fall 15
    server splash2 splash_redis_splash_2:8050 check maxconn 5 fall 15
    server splash3 splash_redis_splash_3:8050 check maxconn 5 fall 15
    server splash4 splash_redis_splash_4:8050 check maxconn 5 fall 15
    server splash5 splash_redis_splash_5:8050 check maxconn 5 fall 15
    server splash6 splash_redis_splash_6:8050 check maxconn 5 fall 15
    server splash7 splash_redis_splash_7:8050 check maxconn 5 fall 15
    server splash8 splash_redis_splash_8:8050 check maxconn 5 fall 15
    server splash9 splash_redis_splash_9:8050 check maxconn 5 fall 15
    server splash10 splash_redis_splash_10:8050 check maxconn 5 fall 15
    server splash11 splash_redis_splash_11:8050 check maxconn 5 fall 15
    server splash12 splash_redis_splash_12:8050 check maxconn 5 fall 15
    server splash13 splash_redis_splash_13:8050 check maxconn 5 fall 15
    server splash14 splash_redis_splash_14:8050 check maxconn 5 fall 15
    server splash15 splash_redis_splash_15:8050 check maxconn 5 fall 15
