#display-filter {
  margin-left: 1rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0 0 0 / 70%);
  display: none;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup-filter,
#popup-node,
#popup-tracelog,
#popup-api-key,
#popup-timer,
#popup-settings {
  z-index: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  min-width: 500px;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #1e1e1e;
}

.popup_timer {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 25%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #1e1e1e;
}

.popup_status {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #1e1e1e;
}

.popup_tracelog {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #1e1e1e;
}

.popup_api_key {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #1e1e1e;
}

.popup_settings {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #1e1e1e;
}

hr.ruler {
  border: 2px solid #484747;
}

.popup h2,
.popup_status h2,
.popup_tracelog h2,
.popup_api_key h2,
.popup_timer h2,
.popup_settings h2 {
  margin-top: 0;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .popup-close,
.popup_status .popup-close,
.popup_tracelog .popup-close,
.popup_api_key .popup-close,
.popup_timer .popup-close,
.popup_settings .popup-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: transparent;
  border: none;
}

.popup-close:hover,
.popup-close:focus {
  color: #484747;
  text-decoration: none;
  cursor: pointer;
}

.popup .content,
.popup_status .content,
.popup_tracelog .content,
.popup_api_key .content,
.popup_timer .content,
.popup_settings .content {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#checkbox_div {
  margin-top: 5px;
}

#status_body {
  max-height: 65vh;
  overflow: scroll;
  display: block;
}

#node_status_table thead,
#node_status_table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#node_status_table thead,
#node_status_table tbody {
  text-align: center;
}

.node_worker_name {
  text-align: left;
}

#node-count {
  margin-left: 10px;
}

.node_ping_status {
  padding: 0.25em 0.4em;
}

#node_status_topbar {
  margin-bottom: 0.5rem;
}

#node_status_time {
  color: #6c7293;
}

.logging_badges {
  padding: 0.25em 0.4em;
}

.table_center_text {
  text-align: center;
}

.badge-statuscode {
  background: #506f79;
  color: #ffffff;
}

.badge-screenshot {
  background: #85a86d;
  color: #ffffff;
}

.badge-statechange {
  background: #6c4a39;
  color: #ffffff;
}

.badge-requested {
  background: #3f9599;
  color: #ffffff;
}

.badge-evidence {
  background: #4e3bd2;
  color: #ffffff;
}

.badge-odscreenshot {
  background: #9a1d6b;
  color: #ffffff;
}

.badge-odevidence {
  background: #ad5487;
  color: #ffffff;
}

.badge-timeline {
  background: #92cc1b;
  color: #ffffff;
}

#gen-api-key {
  background-color: #000;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}