#display-filter {
  margin-left: 3rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0 0 0 / 70%);
  display: none;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1 {
  z-index: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #1e1e1e;
}

hr.ruler {
  border: 2px solid #484747;
}

.popup h2 {
  margin-top: 0;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .popup-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: transparent;
  border: none;
}

.popup-close:hover,
.popup-close:focus {
  color: #484747;
  text-decoration: none;
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
