{% extends "chart_base.html" %}

{% block head_css %}
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/defacement_chart.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/sweetalert2/bootstrap-4.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly/plotly.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2/sweetalert2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/defacements.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Defacements</h4>
            <small class="small text-muted mb-0">Refreshes every minute unless a saved view is used.</small>
        </div>
        <div class="card-body">
            <div id="defacement_chart"></div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}

    <script>
        let layout = {
            paper_bgcolor: "#191c24",
            plot_bgcolor: "#191c24",
            modebar: {
                bgcolor: "#191c24"
            },
            legend: {
                font: {
                    color: '#ffffff'
                }
            },
            xaxis: {
                gridcolor: '#3a3939',
                color: '#ffffff',
                title: {
                    text: "Time"
                }
            },
            yaxis: {
                gridcolor: '#3a3939',
                color: '#ffffff',
                range: [0, {{ target_count|int + 5 }}],
                title: {
                    text: "Defacements"
                }
            },
            shapes: [
                {
                    type: 'line',
                    xref: 'paper',
                    x0: 0,
                    y0: {{ target_count }},
                    x1: 1,
                    y1: {{ target_count }},
                    line:{
                        color: '#d50000',
                        width: 2,
                        dash:'dot'
                    },
                    label: {
                        text: "Total Web-targets",
                        font: {
                            color: '#d50000'
                        }
                    }
                }
            ]
        };
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        let view_id = urlParams.get('view-id');
        let options = {
            displaylogo: false,
            displayModeBar: true,
            modeBarButtonsToRemove: ['lasso2d', "select2d"],
            responsive: true,
            modeBarButtons: [[{
                name: 'Download chart',
                icon: Plotly.Icons.camera,
                click: function (gd) {
                    Plotly.downloadImage(gd, {
                        filename: 'defacements_graph',
                        format: 'png',
                        width: gd._fullLayout.width,
                        height: gd._fullLayout.height,
                    })
                }
            }, {
                name: 'Share view',
                icon: Plotly.Icons.pencil,
                click: function(gd) {
                    return save_view(gd)
                }
            }, 'zoom2d', 'pan2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d', 'resetScale2d'
            ], []]
        }

        // Initial render of the plot based on all data or a saved view
        create_plot(view_id);

        // Update data every minute unless a saved view is used.
        if (view_id === null) {
            setInterval(update_plot, 60000);
        }
    </script>
{% endblock %}
