{% extends "chart_base.html" %}

{% block head_css %}
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/defacement_chart.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly/plotly.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Defacements</h4>
        </div>
        <div class="card-body">
            <div id="defacement_chart"></div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        var trace1 = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            type: 'scatter',
            name: "BT01"
        };

        var trace2 = {
            x: [1, 2, 3, 4],
            y: [16, 5, 11, 9],
            type: 'scatter',
            name: "BT02"
        };

        var layout = {
            paper_bgcolor: "rgba(0,0,0,0)",
            plot_bgcolor: "rgba(0,0,0,0)",
            modebar: {
                bgcolor: "rgba(0,0,0,0)"
            },
            legend: {
                font: {
                    color: '#ffffff'
                }
            },
            xaxis: {
                gridcolor: '#3a3939',
                color: '#ffffff'
            },
            yaxis: {
                gridcolor: '#3a3939',
                color: '#ffffff'
            }
        };

        var options = {
            displaylogo: false,
            displayModeBar: true,
            modeBarButtonsToRemove: ['lasso2d', "select2d"]
        }

        var data = [trace1, trace2];

        Plotly.newPlot('defacement_chart', data, layout, options);
    </script>
{% endblock %}
