{% extends "base.html" %}

{% block head_css %}
    <link href="{{ url_for('static', filename='css/sweetalert2/bootstrap-4.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/scroll_tabs/jquery.scrolling-tabs.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/modal.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2/sweetalert2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/display.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/socketio/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/websocket/client.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/ws_client.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scroll_tabs/jquery.scrolling-tabs.min.js') }}"></script>

{% endblock %}

{% block body %}
    <div class="row full-height">
        <div class="col-12">
            <div class="card content-card">
                <div class="card-body">
                    <div class="row margin_bottom">
                        <div class="col-12">
                            <h4 class="card-title pos-abs">DISPLAY WALL</h4>
                            <div class="float-right">
                                <span id="con_status" class="badge badge-danger float-right menu_badge conn-pads">CONN</span>
                                <div class="float-right con-details">
                                    <a>Async mode: <b><span id="async_mode">{{ async_mode }}</span></b></a><br/>
                                    <a>Average latency: <b><span id="ping_pong"></span>ms</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="display-content">
                        {% include "partials/content.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img id="screenshot-placeholder" src="#" alt="placeholder" class="sc-placeholder">
    <!-- The Modal -->
    <div id="the-modal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img-placeholder">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        $(window).ready( function() {
            InitScrollingTabs();
        });
    </script>
{% endblock %}
