{% extends "base.html" %}

{% block head_css %}
    <link href="{{ url_for('static', filename='css/datatables/datatables.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/sweetalert2/bootstrap-4.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/scroll_tabs/jquery.scrolling-tabs.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/modal.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/popup.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/loader.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/progress_bar.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables/datatables.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2/sweetalert2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/display.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/socketio/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/websocket/client.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/display_index.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/scroll_tabs/jquery.scrolling-tabs.min.js') }}"></script>

    <script>
        let timer_setting = get_cookie("display-timer")
        if (timer_setting !== "") {
            var timer_setting_int = parseInt(timer_setting);
        } else {
            var timer_setting_int = {{ tab_rotate_timer }};
        }
        var TIME_LIMIT = timer_setting_int
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/timer.min.js') }}"></script>

{% endblock %}

{% block body %}
    <div class="row full-height">
        <div class="col-12">
            <div class="card content-card">
                <div id="header-content-card" class="card-body">
                    <div id="display-header-row" class="row margin_bottom">
                        <div class="col-12">
                            <h4 class="card-title pos-abs">DISPLAY
                                <button id="github-link" type="button" class="btn btn-outline" title="Github issues">
                                    <a href="https://github.com/NLDCSC/display/issues" target="_blank">
                                        <span class="mdi mdi-github"></span>
                                    </a>
                                </button>
                                <button id="wiki-link" type="button" class="btn btn-outline" title="Documentation">
                                    <a href="https://nldcsc.github.io/display/index.html" target="_blank">
                                        <span class="mdi mdi-book"></span>
                                    </a>
                                </button>
                                <button id="api-doc-link" type="button" class="btn btn-outline" title="API Documentation">
                                    <a href="/api/#" target="_blank">
                                        <span class="mdi mdi-book-open-variant"></span>
                                    </a>
                                </button>
                                <button id="node-status" type="button" class="btn btn-outline" title="Show Display status">
                                    <span class="mdi mdi-monitor-dashboard"></span>
                                </button>
                                <button id="tracelog" type="button" class="btn btn-outline" title="Show Display Logging">
                                    <span class="mdi mdi-card-bulleted-settings-outline"></span>
                                </button>
                                <button id="dashboard-mode" type="button" class="btn btn-outline" title="Enable dashboard mode">
                                    <span class="mdi mdi-fullscreen"></span>
                                </button>
                                <button id="defacement_chart" type="button" class="btn btn-outline" title="Goto Defacement chart">
                                    <span class="mdi mdi-chart-line"></span>
                                </button>
                                <button id="display-filter" type="button" class="btn btn-outline" title="Filter settings">
                                    <span class="mdi mdi-filter-outline"></span>
                                </button>
                                <button id="tab-rotate" type="button" class="btn btn-outline btn-outline-success btn-outline-danger" title="Enable/disable tab rotation on visible tabs">
                                    <img src="{{ url_for('static', filename='img/tab_rotate.png') }}" alt="tab_rotate">
                                </button>
                            </h4>
                            <div id="tab-selector" class="btn-group dropright" title="Jump to tab">
                                {% include "partials/tab_selector.html" %}
                            </div>
                            <div class="float-right">
                                <span id="con_status"
                                      class="badge badge-danger float-right menu_badge conn-pads">CONN</span>
                                <div class="float-right user-details">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="mdi mdi-account-circle"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <h6 class="dropdown-header">{{ current_user.username }}</h6>
                                            <div class="dropdown-divider"></div>
                                            <button id="api-key-create" class="dropdown-item">(Re)create api key</button>
                                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                                        </div>
                                    </div>
                                </div>
                                {% if current_user.is_admin() %}
                                    <div id="settings" class="float-right mr-3 set-pointer">
                                        <span class="mdi mdi-cog"></span>
                                    </div>
                                {% endif %}
                                <div id="app" class="float-right"></div>
                                <div class="float-right con-details">
                                    <span class="con-details-text">
                                        <a>Async mode: <b><span id="async_mode">{{ async_mode }}</span></b></a><br/>
                                        <a>Average latency: <b><span id="ping_pong"></span>ms</b></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="display-content">
                        {% include "partials/content.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img id="screenshot-placeholder" src="#" alt="placeholder" class="sc-placeholder">
    <!-- The Modal -->
    <div id="the-modal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img-placeholder" alt="placeholder-img">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

{% endblock %}

{% block body_scripts %}
    <script>
        $(document).ready(function() {
            $(window).keydown(function(event){
                if(event.keyCode === 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        $(window).ready(function () {
            window.FULL_SCREEN = false

            ReEnableDisplayFilter();

            InitScrollingTabs();

            SetKeyDownEvents();

            $("#tab-rotate").off().on("click", function() {
                $(this).toggleClass("btn-outline-danger");
                if ($(this).hasClass("btn-outline-danger")) {
                    DisableTabRotation();
                } else {
                    EnableTabRotation();
                    $("#display_timer").off().on("click", OpenSetTimer)
                }

            });

        const check_visible_tabs = $('button[id^="tab_"]:visible')
        const check_visible_content = $('div[id^="row"]:visible')
        if (check_visible_tabs.length === 0 || check_visible_content.length === 0){
            $("#no-data-shown").show();
        }

        });
        $(window).on("resize", function() {
            $('.img-wrap').hide();
            $('.template-row').show();
            if (window.FULL_SCREEN) {
                $("#template_item_7").show()
                $("#template_item_8").show()
            } else {
                $("#template_item_7").hide()
                $("#template_item_8").hide()
            }
            if(this.resizeTO) clearTimeout(this.resizeTO);
            this.resizeTO = setTimeout(function() {
                $(this).trigger('resizeEnd');
            }, 500);

            //if(this.resizeCOL) clearTimeout(this.resizeCOL);
            //this.resizeCOL = setTimeout(function() {
            //    $(this).trigger('resizeCutColumns');
            //}, 50);
            $(this).trigger('resizeCutColumns');


        });

        $(window).on('resizeEnd', resizeEnd);
        $(window).on('resizeCutColumns', resizeCutColumns);
        resizeEnd();

        $(document).on("click", ".add-btn", addFormElements);
        $(document).on("click", ".remove-btn", removeFormElements);

        $(document).on("click", ".settings-add-btn", addSettingsFormElements);
        $(document).on("click", ".settings-remove-btn", removeSettingsFormElements);

        $(document).on("change", "#team_count_field", updateTeamCounters);
        $(document).on("change", "#team_start_at_field", updateTeamCounters);
        $(document).on("change", "#gt_start_at_field", updateTeamCounters);
        $(document).on("change", "#filter_start_field", updateTeamCounters);
        $(document).on("change", "#filter_start_field", handleLimitChange);
        $(document).on("change", "#filter_end_field", updateTeamCounters);

        $(document).on("change", "#root_domain_field", updateAllTargetHeader);

        $(document).on("change", "#name_field", updateTargetHeader);
        $(document).on("change", "#zone_field", updateTargetHeader);
        $(document).on("change", "#stem_field", updateTargetHeader);
        $(document).on("change", "#protocol_field", updateTargetHeader);

    </script>

{% endblock %}
