global
    # raise it if necessary
    maxconn 256
    # required for stats page
    stats socket /tmp/haproxy

defaults
    log global
    mode http

    # remove requests from a queue when clients disconnect;
    # see https://cbonte.github.io/haproxy-dconv/configuration-1.5.html#4.2-option%20abortonclose
    option abortonclose

    # increase these values if you want to
    # allow long request queues in HAProxy
    timeout connect 10m
    timeout client 10m
    timeout server 10m

# Splash Cluster configuration
frontend http-in
    bind 0.0.0.0:7000
    default_backend flask-cluster

backend flask-cluster
    option httpchk GET /
    balance leastconn

    # Add/remove servers below:
    server flask1 flask1:5050 check maxconn 5 fall 15
    server flask2 flask2:5050 check maxconn 5 fall 15
    server flask3 flask3:5050 check maxconn 5 fall 15
