global
    # raise it if necessary
    maxconn 256
    # required for stats page
    stats socket /tmp/haproxy

defaults
    log global
    mode http

    # remove requests from a queue when clients disconnect;
    # see https://cbonte.github.io/haproxy-dconv/configuration-1.5.html#4.2-option%20abortonclose
    option abortonclose

    # increase these values if you want to
    # allow long request queues in HAProxy
    timeout connect 10m
    timeout client 10m
    timeout server 10m

# Splash Cluster configuration
frontend http-in
    bind 0.0.0.0:8050
    default_backend splash-cluster

backend splash-cluster
    option httpchk GET /
    balance leastconn

    # Add/remove servers below:
    server splash1 splash1:8050 check maxconn 5 fall 15
    server splash2 splash2:8050 check maxconn 5 fall 15
    server splash3 splash3:8050 check maxconn 5 fall 15
