global
    # raise it if necessary
    maxconn 256
    # required for stats page
    stats socket /tmp/haproxy

defaults
    log global
    mode http

    # remove requests from a queue when clients disconnect;
    # see https://cbonte.github.io/haproxy-dconv/configuration-1.5.html#4.2-option%20abortonclose
    option abortonclose

    # increase these values if you want to
    # allow long request queues in HAProxy
    timeout connect 10m
    timeout client 10m
    timeout server 10m

# Splash Cluster configuration
frontend http-in
    bind 0.0.0.0:8050
    default_backend splash-cluster

frontend health
  mode http
  bind 127.0.0.1:80
  http-request return status 200 if { src 127.0.0.0/8 }

backend splash-cluster
    option httpchk GET /
    balance leastconn

    # Add/remove servers below:
    server splash1 splash_splash.1:8050 check inter 30s maxconn 5 fall 15
    server splash2 splash_splash.2:8050 check inter 30s maxconn 5 fall 15
    server splash3 splash_splash.3:8050 check inter 30s maxconn 5 fall 15
    server splash4 splash_splash.4:8050 check inter 30s maxconn 5 fall 15
    server splash5 splash_splash.5:8050 check inter 30s maxconn 5 fall 15
    server splash6 splash_splash.6:8050 check inter 30s maxconn 5 fall 15
    server splash7 splash_splash.7:8050 check inter 30s maxconn 5 fall 15
    server splash8 splash_splash.8:8050 check inter 30s maxconn 5 fall 15
    server splash9 splash_splash.9:8050 check inter 30s maxconn 5 fall 15
    server splash10 splash_splash.10:8050 check inter 30s maxconn 5 fall 15
    server splash11 splash_splash.11:8050 check inter 30s maxconn 5 fall 15
    server splash12 splash_splash.12:8050 check inter 30s maxconn 5 fall 15
    server splash13 splash_splash.13:8050 check inter 30s maxconn 5 fall 15
    server splash14 splash_splash.14:8050 check inter 30s maxconn 5 fall 15
    server splash15 splash_splash.15:8050 check inter 30s maxconn 5 fall 15
