<ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for key in  display_sources %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if loop.first %} active {% endif %}" id="tab_{{ key|md5 }}" data-name="{{ key }}" data-bs-toggle="tab" data-bs-target="#content_{{ key|md5 }}" type="button" role="tab" aria-controls="home" aria-selected="true">
                {{ key }}</button>
        </li>
    {% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
    {% for key in  display_sources %}
        <div class="tab-pane fade {% if loop.first %} show active {% endif %}" id="content_{{ key|md5 }}" role="tabpanel" aria-labelledby="{{ key|md5 }}-tab">
            {% for row in display_sources[key]|batch(6) %}
                <div class="row content-row">
                    {% for each in row %}
                        <div class="col-md-2 img-col">
                            <div class="img-wrap">
                                <div>{{ each['header'] }} <span id="mod_time_{{ each['url']|md5 }}" class="mod-time">never</span> </div>
                                <a href="{{each['url']}}" target="_blank">
                                    <img
                                            id="img_content_{{ each['url']|md5 }}"
                                            class="img-src {% if each['team'] == 'blue' %} blue-src {% else %} green-src {% endif %}"
                                            src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  {# JUST A transparent pixel as placeholder #}
                                            title="{{ each['header'] }} | ID: {{ each['url']|md5 }}"
                                    >
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>