<div class="popup_timer">
    <h3>Tab rotation:</h3>
    <button class="popup-close" id="btn_timer">&times;</button>
    <hr class="ruler">
    <div class="timer_form_wrapper">
        <form id="timer_form" action="">
            <div class="form-group">
                <label for="timer_int">Set Timer interval:</label>
                <input type="number" class="form-control" id="timer_int" name="timer_interval" min="15">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        <div id="error_text" class="error error-text"></div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-success float-right">Set!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
