{% for each in data %}
<tr class="items">
    <td>
        {{ loop.index }}
    </td>
    <td>
        <span>{{ each.name|title }}</span>
    </td>
    <td> {{ each.trigram }} </td>
    <td>
        {% if each.status == 0 %}
        <div class="badge badge-outline-success">Normal</div>
        {% elif each.status == 1 %}
        <div class="badge badge-outline-warning">Reverse</div>
        {% elif each.status == 2 %}
        <div class="badge badge-outline-primary">Random name</div>
        {% elif each.status == 3 %}
        <div class="badge badge-outline-info">Random fully</div>
        {% endif %}
    </td>
    <td>
        {% if current_user.is_admin() %}
            <button id="del_btn_{{ each.trigram|md5 }}" type="button" class="btn btn-outline-secondary btn-rounded btn-icon" data-trigram="{{ each.trigram }}">
                <i class="mdi mdi-delete-forever no_margin_right"></i>
            </button>
        {% endif %}
    </td>
</tr>
{% endfor %}