<div class="popup_tracelog">
    <h2>Display Logging:</h2>
    <button class="popup-close" id="btn_close3">&times;</button>
    <hr class="ruler">
    <div id="tracelog-wrapper">
        <table id="display-tracelog" class="table table-striped table-dark">
            <thead>
            <tr>
                <th class="w-10 mw-10 table_center_text">Timestamp</th>
                <th class="w-25 mw-25 table_center_text">URL</th>
                <th class="w-10 mw-10 table_center_text">Action</th>
                <th class="w-5 mw-5 table_center_text">Hash</th>
                <th class="w-10 mw-10 table_center_text">User</th>
                <th class="w-10 mw-10 table_center_text">Result</th>
                <th class="w-5 mw-5 table_center_text">Status code</th>
                <th class="w-25 mw-25 table_center_text">Reason</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
