<div class="popup_tracelog">
    <h2>Display Logging:</h2>
    <button class="popup-close" id="btn_close3">&times;</button>
    <hr class="ruler">
    <div id="tracelog-wrapper">
        <table id="display-tracelog" class="table table-striped table-dark">
        <thead>
        <tr>
            <th>URL</th>
            <th class="table_center_text">Action</th>
            <th>Hash</th>
            <th>Timestamp</th>
            <th>User</th>
            <th class="table_center_text">Result</th>
            <th class="table_center_text">Status code</th>
            <th>Reason</th>
        </tr>
        </thead>
    </table>
    </div>
</div>
